h1= title

.mw5.tl
	p.mb4= description
	p Remember to prefix locations with <kbd>L</kbd>, and suffix them with <kbd>$</kbd>.<br/>
		| DPCIs may need prefixed with <kbd>49</kbd>. and occasionally suffixed with <kbd>9</kbd>.<br/>
		| Cart labels start with <kbd>SHP</kbd>, and end with two letters.

p View the source on 
	a(href="#{source}" target="_blank") GitHub.
