p.tl.mw6.mb4= description
p.tl.mw6.mb4 Remember to prefix locations with <kbd>L</kbd>, and suffix them with <kbd>$</kbd>.
	| DPCIs may need prefixed with <kbd>49</kbd>. and occasionally suffixed with <kbd>9</kbd>.
	| Cart labels start with <kbd>SHP</kbd>, and end with two letters.
p.tc
	em
		a(href="#{source}" target="_blank") View the source on GitHub.
