h1.ma0 What is this?

.mw5.tl
	p This website is a simple barcode generator, used for DPCIs, backroom locations, cart labels, or whatever you may need!
	p Remember to prefix locations with <kbd>L</kbd>, and suffix them with <kbd>$</kbd>.<br/>
		| DPCIs may need prefixed with <kbd>49</kbd>. and occasionally suffixed with <kbd>9</kbd>.<br/>
		| Cart labels start with <kbd>SHP</kbd>, and end with two letters.

p.ma0 View the source on 
	a(href="#{source}" target="_blank") GitHub.
