h1= title

.mw5.tl
	p.mb4= description
	p.mb4 Remember to prefix locations with <kbd>L</kbd>, and suffix them with <kbd>$</kbd>.<br/>
		| DPCIs may need prefixed with <kbd>49</kbd>. and occasionally suffixed with <kbd>9</kbd>.<br/>
		| Cart labels start with <kbd>SHP</kbd>, and end with two letters.
	p.tc
		em View my 
			a(href="#{process.env.PROJECT_ROOT || '/'}common.html") common barcodes,
			|  or the 
			a(href="#{source}" target="_blank") source on GitHub.
