#barcode.mw-100(data-default="#{location}")

form
	label(for="input")
		input(type="text" name="input" id="input" class="tc" autofocus placeholder="#{location}")

p
	em
		a(href="#{process.env.PROJECT_ROOT || '/'}help.html") What is this?
